body{
    background-color: #66be4b;
}
.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.login-form{
    background-color: #fff;
    width : 400px;
    height: 300px;
    border-radius: 5px;
    margin: auto;
    padding: 40px;
    box-shadow: 1px 5px 6px grey;    
}
.login-form-main input, .login-form-main button{
    width: 90%;
    margin: 10px auto;
    height: 45px;
    border-radius: 2px;
    border: none;
    
    
}
.login-form-main button{
    background-color: #52b344;
    color: #fff;

}
.login-form-main input{
    background-color: #f2f2f2;
    
}
.login-form-main {
    text-align: center;
}
.login-form-main p{
    color:#b5b4b4;
    font-size: small;
}
.login-form-main span{
    color:#52b344;
}




